.button {
  background-color: var(--white);
  color: var(--green);
  font-size: 16px;
  padding: 10px 50px;
  margin: 5px;
  border: solid 2px var(--green);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: var(--green);
  color: var(--white);
  border: solid 2px var(--white);
}

.button:active {
  transform: scale(0.98);
}

/* 
.disabled {
  pointer-events: none;
  opacity: 0.6;
} */
