.navigation__button {
  background-color: var(--white);
  color: var(--green);
  font-size: 16px;
  padding: 10px 50px;
  margin: 5px;
  border: solid 2px var(--green);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navigation__button:hover {
  background-color: var(--green);
  color: var(--white);
  border: solid 2px var(--white);
}

.navigation__button:active {
  transform: scale(0.98);
}
